@font-face {
  font-family: "Star Jedi Logo MonoLine";
  src: url("../assets/fonts/StarJediLogoMonoLine.eot");
  src: url("../assets/fonts/StarJediLogoMonoLine.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/StarJediLogoMonoLine.woff2") format("woff2"), url("../assets/fonts/StarJediLogoMonoLine.woff") format("woff"), url("../assets/fonts/StarJediLogoMonoLine.ttf") format("truetype"), url("../assets/fonts/StarJediLogoMonoLine.svg#StarJediLogoMonoLine") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Star Jedi Logo DoubleLine2";
  src: url("../assets/fonts/StarJediLogoDoubleLine2.eot");
  src: url("../assets/fonts/StarJediLogoDoubleLine2.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/StarJediLogoDoubleLine2.woff2") format("woff2"), url("../assets/fonts/StarJediLogoDoubleLine2.woff") format("woff"), url("../assets/fonts/StarJediLogoDoubleLine2.ttf") format("truetype"), url("../assets/fonts/StarJediLogoDoubleLine2.svg#StarJediLogoDoubleLine2") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Star Jedi Logo DoubleLine1";
  src: url("../assets/fonts/StarJediLogoDoubleLine1.eot");
  src: url("../assets/fonts/StarJediLogoDoubleLine1.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/StarJediLogoDoubleLine1.woff2") format("woff2"), url("../assets/fonts/StarJediLogoDoubleLine1.woff") format("woff"), url("../assets/fonts/StarJediLogoDoubleLine1.ttf") format("truetype"), url("../assets/fonts/StarJediLogoDoubleLine1.svg#StarJediLogoDoubleLine1") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Star Jedi Outline";
  src: url("../assets/fonts/StarJediOutline.woff2") format("woff2"), url("../assets/fonts/StarJediOutline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Star Jedi Hollow";
  src: url("../assets/fonts/StarJediHollow.woff2") format("woff2"), url("../assets/fonts/StarJediHollow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Star Jedi";
  src: url("../assets/fonts/StarJedi.woff2") format("woff2"), url("../assets/fonts/StarJedi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes title-zoom {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
}

@keyframes title-zoom {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
}

@-webkit-keyframes scroll-text {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  to {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}

@keyframes scroll-text {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  to {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* box-sizing fix */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Star Jedi Logo MonoLine";
  font-family: "News Cycle", sans-serif;
  text-align: center;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../assets/images/starfield.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/starfield.jpg);
  background-size: cover;
  color: #ffcb0d;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Star Jedi Hollow";
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #13abc7;
}

a:hover {
  text-decoration: none;
  color: #15bfde;
}

.instruction {
  font-family: Georgia, serif;
  display: block;
  font-size: 36px;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
}

.audio {
  position: fixed;
  top: 0;
  right: 0;
  width: 6.25rem;
  height: auto;
  z-index: 999;
}

.audio__player {
  width: 100%;
  opacity: 0.5;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.audio__player::-webkit-media-controls-panel {
  background: black;
  color: white;
}

.audio__player:-webkit-media-controls-volume-slider, .audio__player::-webkit-media-controls-mute-button, .audio__player::-webkit-media-controls-play-button {
  color: inherit;
}

.audio__player:hover {
  opacity: 0.9;
}

.audio__player:hover::-webkit-media-controls-panel {
  background: white;
  color: black;
}

.sw-intro {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
  -webkit-animation: fade-in-out 5s linear forwards;
          animation: fade-in-out 5s linear forwards;
}

.sw-intro__text {
  color: #13abc7;
  font-size: 3.65rem;
}

.sw-intro-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: title-zoom ease-out 6s 5s forwards;
          animation: title-zoom ease-out 6s 5s forwards;
}

.sw-intro-logo__title {
  margin: 0;
  font-size: 25rem;
  letter-spacing: 1px;
  line-height: 22rem;
  text-rendering: optimizeLegibility;
}

.sw-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: perspective(500px) rotateX(30deg);
          transform: perspective(500px) rotateX(30deg);
}

.sw-scroll__inner {
  height: auto;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  -webkit-animation: scroll-text 80s 2.5s linear forwards;
          animation: scroll-text 80s 2.5s linear forwards;
}

.sw-scroll__text {
  margin: 0 auto;
  font-size: 3.5rem;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  max-width: 760px;
}
/*# sourceMappingURL=style.css.map */